*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #30d9f0;
}
html{
    font-size: 60%;
    overflow: auto;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    background-image: url('/src/fondo.jpg');
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.inicio-content{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.inicio-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.inicio-content h1{
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.0rem;
    line-height: 1;
}
.inicio-img {
    border-radius: 50%;
}
.inicio-img img{
    position: relative;
    top: 3rem;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.inicio-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.inicio-content p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    text-align: justify;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 4rem;
    border-radius: 10%;
    color: var(--main-color);
    margin: 2rem 2rem 4rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 50px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
}
.text-animation span::before{
    content: "Desarrollador Web";
    color: var(--main-color);
    animation: words 20s infinite;
    background-image: url('/src/fondo.jpg');
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 40px;
    border-left: 3px solid var(--bg-color);
    right: 800px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    background-image: url('/src/fondo.jpg');
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Desarrollador Web";
    }
    21%,
    40%{
        content: "Desarrollador Frontend";
    }
    41%,
    60%{
        content: "Desarrollador Full Stack";
    }
    61%,
    80%{
        content: "Productor Audiovisual";
    }
    81%,
    100%{
        content: "Diseñador Web";
    }  
    }
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(82% + 8px);
    }
}
.header img {    
    filter: drop-shadow(0px 5px 10px #03d7f3);
    animation: zoom 10s linear infinite, otraAnimacion 3s ease-in-out infinite;

}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes otraAnimacion {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.sobremi h2{ 
    color:#03d7f3;
    font-size: 5rem;
    text-align: center;
   
}
.sobremi p{ 
   color: antiquewhite;
   text-align: justify ;
   margin-top: 3%;
   font-size: 2rem;
   
}
.contenido-seccion{
    
    color: #000000;
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    
}

    

.contenido-seccion h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    font-family: "Poppins", sans-serif;

}
.contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
}
.contenido-seccion .fila .col{
    width: 49%;
    padding: 0 20px;
}
.contenido-seccion .fila .col h3{
    font-size: 35px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: center;
    
}
.fila p{
    color: #000000;
}

.contenido-seccion .fila .izquierda{
    border-right: 10px solid #ffffff;
}
.contenido-seccion .fila .derecha{
    border-left: px solid #ffffff;
}
.contenido-seccion .fila .item{
    padding: 12px 20px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4rem;
    background-color: black;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
}
.contenido-seccion .fila .item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--main-color);
}

.contenido-seccion  .fila .item h4{
    font-size: 26px;
    color: #dbd3d3;
    text-align: left;
    -webkit-text-stroke: 1px#09a7f0;
    
}
.contenido-seccion  .fila .item .casa{
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    display: block;
    text-align: left;
}
.contenido-seccion .fila .item .fecha{
    display: block;
    color: #ffffff;
    font-size: 16px;
   
}
.contenido-seccion .fila .item .fechalugar{
    display: block;
    color: #ffffff;
    font-size: 16px;
    
}
.contenido-seccion.fila .item p{
    line-height: 24px;
}
.contenido-seccion .fila .izq{
    border-right: 2px solid #24b4f7fa;
    margin-right: 20px;
    box-shadow: 0 0 15px var(--main-color);
}
.contenido-seccion .fila .der{
    border-left: 2px solid #24b4f7fa;
    margin-left: 20px;
    box-shadow: 0 0 15px var(--main-color);
}

/*SECCION PROYECTOS */

.proyectos{
    padding: 90px 10px;
    
    text-align: center;
    font-size: 16px;
    background-image: url('/src/fondo.jpg');
}
.proyectos h2{
color: #03d7f3;
font-size: 5rem;

}
.proyectos > p{
    max-width: 600px;
    margin: 30px auto;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: justify;
    margin-top: 3%;
    font-size: 2rem;
    margin-bottom: 40px;
}

.proyectos .proyectos{
    max-width: 900px;
    margin: auto;
}
.proyectos .proyectos .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.proyectos .proyectos .fila .col{
    width: 30%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.proyectos .proyectos .fila .col img{
    width: 100%;
    display: block;
}
.overlay{
    position: absolute;
    background-color: #24b4f7fa;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    transition: .5s;
    transform: scale(.10);
    opacity: 0;
}

.proyectos h3{
    color: #ffffff;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: center;
    filter: drop-shadow(2px 5px 15px #ffffff);
    animation: zoom 6s linear infinite, otraAnimacion 2s ease-in-out infinite;
}

.social-iconss a{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    font-size: 4rem;
    border-radius: 10%;
    color:rgb(254, 255, 255);
    margin: 2rem 2rem 4rem 0;
    transition: 0.3s ease-in-out;
}
.social-iconss a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 50px blanchedalmond;
    background-color: rgb(4, 42, 59);
}
.social-iconss i{
   
    justify-content: center;
    align-items: center;
    width: 3rem;
    font-size: 3rem;
}
.proyectos p{
    color: #ffffff;
        
}
.info{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    transition: .5s;
    opacity: 0;
    margin-top: 20px;
}
.proyectos .proyectos .fila .col:hover .overlay{
    opacity: 1;
    transform: scale(1);
}
.proyectos .proyectos .fila .col:hover .info{
    opacity: 1;
    margin-top: 0px;
}
.habilidades{
    background: #080808;
    background-image: url('/src/fondo.jpg');
    
}
.habilidades h2{
    color: #03d7f3;
    font-size: 5rem;
   
}
.habilidades p{
    color: antiquewhite;
   text-align: justify ;
   margin-top: 3%;
   font-size: 2rem;
   margin-bottom: 5%;
}
.habilidades-box{
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.habilidades-box img{
    width: 9rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.habilidades-item{
    min-height: 100px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.7);
    border: 7px solid #03d7f3;
    border-radius: 9rem;
    margin: 0 2rem;
    padding: 30px 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.3s ease-in-out;

}
.habilidades-item:hover{
    border:3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.habilidades-item h2{
    font-size: 2.8rem;
}
.habilidades-item p{
    font-size: 1.3rem;
}
#star{
    color: gold;
    font-size: 2rem;
}
.contacto{
    background-image: url('/src/fondo.jpg');
}
.contacto h2{
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-align: center;
}
.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin: 5rem auto;
    text-align: center;
}
.contacto form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contacto form .input-box input,
.contacto form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-image: url('/src/fondo.jpg');
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contacto form .btn{
    margin-top: 2rem;
}
.containerr{
    height: 300px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 350px;
    position: relative;
}

.logo{
    width: 230px;
    height: 198px;
    background: url(/src/JHOAN\ TALAGA.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 5px 10px #03d7f3);
    animation: rotacion 3s linear infinite;
}
@keyframes rotacion {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.logo:hover{
    cursor: pointer;
}



.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
    background-image: url('/src/fondo.jpg');
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;

}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .proyectos{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    .sobremi{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;}
    .habilidades{
        
            padding-bottom: 7rem;
            grid-template-columns: repeat(2,1fr);
            margin: 0 5rem;
    }
   


@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .proyectos{
        padding-bottom: 7rem;
    }
    .habilidades .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contacto form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 4%;
    }
    @media (max-width: 767px) {
        .list li {
            display: block;
            padding: 10px 0;
        }
    
        /* Ocultar el footer en diseño responsivo */
        .footer .list{
            display: none;
        }
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .inicio{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .inicio-content h3{
        font-size: 3rem;
    }
    .inicio-content h1{
        font-size: 6rem;
        margin-top: 3rem;
    }
    .inicio-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .inicio-img img{
        width: 56vw;
    }
    .proyectos h2{
        margin-bottom: 3rem;
    }
    .proyectos{
        grid-template-columns: repeat(1,1fr);
    }
}
/* Estilos predeterminados */
.contenido-seccion {
    padding: 10px;
}

/* Estilos para pantallas más pequeñas (diseño responsive) */
@media only screen and (max-width: 600px) {
    .fila {
        flex-direction: column;
    }
    

    .col {
        width: 200%;
    }

    .item {
        margin-bottom: 60px;
        text-align: center;
    }
    .contenido-seccion .fila .item{
        padding: 0px 2px;
        width: 270px;
        height: 156px;
        margin-bottom: 60px;
        margin-top: 20px;
        border-radius: 1rem;
        background-color: black;
        border: 3px solid var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
        cursor: pointer;
        text-align: justify;
        grid-template-columns: repeat(2,1fr);
    }
    .contenido-seccion  .fila .item h4{
        font-size: 20px;
        color: #dbd3d3;
        -webkit-text-stroke: 1px#09a7f0;
        text-align: center;
        
    }
    .contenido-seccion  .fila .item .casa{
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
        display: block;
        text-align: center;
    }
    .contenido-seccion .fila .item .fecha{
        display: block;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
       
    }
    .contenido-seccion .fila .item .fechalugar{
        display: block;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        
    }
    .contenido-seccion.fila .item p{
        line-height: 8px;
    }
    .sobremi .col .izq{
        align-items: center;
    }
    .sobremi .col .der{
        align-items: center;
    }
    .proyectos .proyectos{
    max-width: 700px;
    margin: auto;
}
.proyectos .proyectos .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.proyectos .proyectos .fila .col{
    width: 30%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.proyectos .proyectos .fila .col img{
    width: 100%;
    display: block;
}
.proyectos .proyectos{
    max-width: 900px;
    margin: auto;
}
.proyectos .proyectos .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.proyectos .proyectos .fila .col{
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10%;
}
.proyectos .proyectos .fila .col img{
    width: 100%;
    display: block;
}
.proyectos h3{
    color: #ffffff;
    font-size: 2.0rem;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: center;
    filter: drop-shadow(2px 5px 15px #ffffff);
    animation: zoom 6s linear infinite, otraAnimacion 2s ease-in-out infinite;
}
.logo{
    width: 230px;
    height: 198px;
    background: url(/src/JHOAN\ TALAGA.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 5px 10px #03d7f3);
    animation: rotacion 3s linear infinite;
}
}


}